# Server
PORT=3001

# MongoDB
MONGO_USER=admin
MONGO_PASSWORD=secret
MONGO_DB=coffee_lovers
PORT_MONGO=27017

# NestJS -> MongoDB
MONGODB_URI=mongodb://admin:secret@localhost:27017/coffee_lovers?authSource=admin
